ion-card-title{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.cover{
    text-align: center;
    margin:auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    color:white;
}

.word{
    font-weight: 900;
}

.green-cover{
    background: #0ed689;
}

.blue-cover{
    background: #0e8dd6;
}

.red-cover{
    background: #d6570e;
}