<ion-header>
  <ion-toolbar class="header">
    <ion-title>
      S-AQUA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="body">
<ion-card routerLink="/temp">
  <div class="kb-div-card-image">
      <img src="assets/image/temp.jpg"/>
  </div>
    <ion-card-content>
      <ion-card-subtitle text-center style="color:white">
        {{getTemp() ? "Temperature: " + getTemp() + "°C" : "Reading..."}}
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/ph">
    <div class="kb-div-card-image">
        <img src="assets/image/original.jpeg"/>
    </div>
      <ion-card-content>
        <ion-card-subtitle text-center style="color: white">
          {{getPh() ? "pH: " + getPh() + "pH" : "Reading..."}}
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
</ion-content>
